

/*-------General------------*/
.container{
	width:55%;
	margin:0 auto;
}
p{
	font-size: 16pt;
	font-family: helvetica, sans-serif;

}
body{
	background:#eee;
}

/*-------Iframe-------------*/
iframe{
	border:none;
}


/*-------Nav list----------*/
.nav-list{
	list-style: none;
	float:left;
	margin-left: 30%;
}
.nav-list li{
	float: left;
	margin-left: 15px;
	background: #55AA55;

}
.nav-list li a {
	text-decoration:none; 
}

.nav-list li a:hover{
	font-size: 20pt;
	background:#D46A6A;
}

/*-------Content------------*/
h1{
	text-align: center;
	font-size: 36pt;
}

p{
	text-indent: .2in;
	text-align: justify;
}


/*--------Footer----------*/
footer{
	width:75%;
	margin-left: 40%;
	margin-top: 20px;
}

