  /*-----Navigation---------*/
        
        nav ul{
            float:left;
            list-style: none;
            padding-left: 130px;
        }
        nav ul li{
            float:left;
            padding:10px;

        }
        nav ul li a{
            text-decoration: none;
            border:1px dashed black;
            border-bottom: none;
           
            padding: 7px 5px 2px 30px;
            background:#E7E7E7 url(../Images/link.png) no-repeat left center;            
        }

        nav a:hover{
            font-weight: bold;
            background:#B2F511 url(../Images/go.png) no-repeat 5px 50%;
        }
        #homelink{
            background:#E7E7E7 url(../Images/home.png) no-repeat left center;
        }
        p{
            color:black;
            text-align: left;
            line-height: 150%;
        }
